* {
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  font-size: 30px;
  text-align: left;
  /* width: 100%; */
  /* line-height: 600px; */
}

input[type=text] {
  width: 120px;
  height: 40px;
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  box-sizing: border-box;
}

a {
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}
