* {
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  float: left;
  width: 33.33%;
  padding: 20px;
  /* height: 80px; */
  background-color: #B3E93F;
  color: white;
  font-size: 30px;
  text-align: center;
}
.box1:hover {
  background: white;
  color: #B3E93F;
}

.box2 {
  float: left;
  width: 33.33%;
  padding: 20px;
  background-color: #743EE8;
  color: white;
  font-size: 30px;
  text-align: center;
}
.box2:hover {
  background: white;
  color: #743EE8
}

.box3 {
  float: left;
  width: 33.33%;
  padding: 20px;
  background-color: #FE7C6F;
  color: white;
  font-size: 30px;
  text-align: center;
}
.box3:hover {
  background: white;
  color: #FE7C6F;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* **************************** */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #979994;
  border-radius: 15px;
  resize: vertical;
  font-size: 20px;
  margin-top: 20px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
}

input[type=submit] {
  background-color: #743EE8;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  border: 2px solid #743EE8;
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

input[type=submit]:hover {
  background-color: white;
  color: #743EE8;
  border: 2px solid #743EE8;
}

.container {
  border-radius: 30px;
  border: 3px solid #743EE8;
  background-color: white;
  padding: 20px;
  width: 850px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.eth-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

.address-60 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ******************************* */

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  color: white;
  text-align: right;
}

a {
  text-decoration: none;
}

a.source {
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}