* {
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  float: left;
  width: 33.33%;
  padding: 20px;
  /* height: 80px; */
  background-color: #B3E93F;
  color: white;
  font-size: 30px;
  text-align: center;
}
.box1:hover {
  background: white;
  color: #B3E93F;
}

.box2 {
  float: left;
  width: 33.33%;
  padding: 20px;
  background-color: #743EE8;
  color: white;
  font-size: 30px;
  text-align: center;
}
.box2:hover {
  background: white;
  color: #743EE8
}

.box3 {
  float: left;
  width: 33.33%;
  padding: 20px;
  background-color: #FE7C6F;
  color: white;
  font-size: 30px;
  text-align: center;
}
.box3:hover {
  background: white;
  color: #FE7C6F;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  color: white;
  text-align: right;
}

.footer.logo {
  max-width: 100%;
  height: auto;
}

.working {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

a.source {
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}

p{
  text-align: center;
  font-size: 40px;
}